---
title: Samblings
pagination:
  data: collections.blogPostsByCategory
  size: 1
  alias: postsPage
permalink: "/blog{% if postsPage.category != 'all' %}/tag/{{ postsPage.category | url }}{% endif %}{% if postsPage.pageNumber > 1 %}/page/{{ postsPage.pageNumber }}{% endif %}/"
---
{% layout "page.liquid" %}

{% block head %}
<meta
  name="description"
  content="Scattered notes on whatever holds my attention. A blog about programming, languages, and life."
>

<link rel="stylesheet" href="{{ '/styles/blog.css' | url | bust }}">

<style>
  .nav-links {
    margin-block-start: var(--header-offset);
  }

  .nav-tags {
    display: flex;
    flex-direction: column;
    gap: var(--nav-items-gap);
  }

  .nav-tag {
    text-transform: lowercase;
  }

  .nav-tag > .tag {
    font-weight: inherit;
  }

  #content {
    gap: 3rem;
  }

  article .heading .title {
    text-decoration: none;
    color: var(--color-text);
  }

  article .heading .title:hover {
    text-decoration: underline;
  }

  article .heading .tags {
    font-size: 0.875rem;
    color: var(--color-text-muted);
    -webkit-user-select: none;
    user-select: none;
  }

  article .read-more {
    color: var(--color-text-muted);
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    align-self: flex-end;
  }

  article .read-more:hover {
    color: inherit;
    text-decoration: underline;
  }

  #navigation {
    display: flex;
    overflow-x: auto;
    font-size: 1rem;
    margin-inline: auto;
  }

  #navigation .page {
    flex: 0 0 2ch;
    padding: 0.5rem;
    font-weight: 500;
    color: var(--color-text-muted);
    text-decoration: none;
    text-align: center;
  }

  #navigation .page.active:hover {
    color: var(--color-text);
    text-decoration: underline;
  }

  #navigation .page[aria-current] {
    color: var(--color-text);
    font-weight: 600;
  }

  @media screen and (max-width: 768px) {
    .nav-links {
      margin-block-start: unset;
    }
  }
</style>

<link rel="stylesheet" href="{{ '/styles/animate.css' | url | bust }}">

<link
  rel="stylesheet"
  href="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/styles/github.min.css"
  media="(prefers-color-scheme: light)"
>
<link
  rel="stylesheet"
  href="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/styles/github-dark.min.css"
  media="(prefers-color-scheme: dark)"
>
{% endblock %}

{% block body %}
<nav id="nav">
  <input id="nav-toggle" type="checkbox">
  <label for="nav-toggle" class="animate">☰</label>

  <div id="nav-content">
    <div class="nav-links">
      <div class="nav-item nav-link animate">
        <a href="{{ '/blog/feed.xml' | url }}">RSS</a>
      </div>

      <div class="nav-item nav-link animate"><a href="/">About</a></div>

      <div class="nav-item nav-link animate">
        <a href="https://github.com/moltinginstar">GitHub</a>
      </div>

      <div class="nav-item nav-link animate"><a href="/haiku">Haiku</a></div>
    </div>

    <div class="nav-tags">
      <div class="nav-item nav-tag animate">
        <a
          href="/blog"
          {% if postsPage.category == "all" %}
            aria-current="true"
          {% endif %}
          >All</a
        >
      </div>

      {% for category in collections.blogCategories %}
        <div class="nav-item nav-tag animate">
          <a
            class="tag"
            href="/blog/tag/{{ category | url }}"
            {% if postsPage.category == category %}
              aria-current="true"
            {% endif %}
          >
            {{- category -}}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</nav>

<main class="animate" style="--i: 3">
  <header>
    <span class="logo" aria-label="Samblings" title="Samblings"
      >Sambl–·ngs</span
    >
  </header>

  <div id="content">
    {% for post in postsPage.items %}
      <article id="article-{{ post.fileSlug }}">
        <div class="heading">
          <p class="date">{{ post.date | date: "%b %-d, %Y" }}</p>

          <a class="title" href="{{ post.url | url }}">
            <h1>{{ post.data.title }}</h1>
          </a>

          <p class="tags">
            {% for category in post.data.categories %}
              <a
                class="tag"
                href="/blog/tag/{{ category | url }}"
              >
                {{- category -}}
              </a>
            {% endfor %}
          </p>
        </div>

        {{-
          post.content
          | strip_html
          | strip
          | truncatewords: 50, "&nbsp;..."
        -}}

        <a class="read-more" href="{{ post.url | url }}">Read more →</a>
      </article>
    {% endfor %}
  </div>

  <nav id="navigation">
    {% if postsPage.totalPages > 1 %}
      {% assign currentPageNumber = postsPage.pageNumber %}
      {% assign windowSize = 2 %}

      {%- for _ in (1..postsPage.totalPages) -%}
        {% assign i = forloop.index0 %}
        {% assign pageNumber = forloop.index -%}

        {% assign windowStart = currentPageNumber | minus: windowSize %}
        {% assign windowEnd = currentPageNumber | plus: windowSize %}

        {%
          assign showPage = forloop.first
          or forloop.last
          or i >= windowStart
          and i <= windowEnd
        %}

        {% if showPage %}
          {% assign prevPage = i | minus: 1 %}
          {% if i > 0 and prevShownPage != prevPage %}
            <span class="page">&middot;&middot;&middot;</span>
          {% endif %}

          {% assign pageUrl = "/blog" %}
          {% if postsPage.category != "all" %}
            {% assign pageUrl = pageUrl
              | append: "/tag/"
              | append: postsPage.category
              | url
            %}
          {% endif %}
          {% assign currentPageUrl = pageUrl %}
          {% if pageNumber > 1 %}
            {% assign pageUrl = pageUrl
              | append: "/page/"
              | append: pageNumber
            %}
          {% endif %}
          {% if currentPageNumber > 1 %}
            {% assign currentPageUrl = currentPageUrl
              | append: "/page/"
              | append: currentPageNumber
            %}
          {% endif %}

          <a
            class="page active"
            href="{{ pageUrl }}"
            {% if pageUrl == currentPageUrl %}
              aria-current="page"
            {% endif %}
          >
            {{- pageNumber -}}
          </a>

          {% assign prevShownPage = i %}
        {% endif %}
      {%- endfor -%}
    {% endif %}
  </nav>

  <footer>
    <p>
      &copy;&nbsp;{{ "now" | date: "%Y" }} moltinginstar. All rights reserved.
    </p>
  </footer>
</main>
{% endblock %}
