---
title: moltinginstar / blog
---
{% layout "page.liquid" %}

{% block head %}
<style>
  :root {
    --padding-block: clamp(1rem, 8vh, 4rem);
    --padding-inline: clamp(1rem, 6vw, 4rem);
  }

  html {
    overflow-y: hidden;
  }

  body {
    display: flex;
    block-size: 100vh;
    box-sizing: border-box;
    font-size: 0.875rem;
  }

  #nav {
    flex: 0 0 32ch;
    font-size: 0.875rem;
    padding-block: var(--padding-block);
    padding-inline: var(--padding-inline) 2rem;
    overflow-y: auto;
    -webkit-user-select: none;
    user-select: none;
  }

  #nav-toggle {
    display: none;
  }

  #nav-toggle + label {
    display: none;
    cursor: pointer;
  }

  #nav-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .nav-link > a {
    text-decoration: none;
    color: var(--color-text-muted);
  }

  .nav-link > a:hover {
    text-decoration: underline;
    color: inherit;
  }

  .nav-link .date {
    color: var(--color-text);
  }

  .nav-link .title {
    font-style: italic;
  }

  .nav-link .tags {
    font-size: 0.75rem;
    color: var(--color-text-muted);
  }

  .tag {
    font-weight: 500;
    text-transform: lowercase;
  }

  .tag::before {
    content: "#";
  }

  main {
    flex: 1 0 0;
    padding-block: var(--padding-block);
    padding-inline: 2rem var(--padding-inline);
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-padding-block-start: var(--padding-block);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
  }

  #content {
    inline-size: min(80ch, 100%);
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }

  article {
    --paragraph-spacing: 1rem;
    display: flex;
    flex-direction: column;
    gap: var(--paragraph-spacing);
    overflow-wrap: break-word;
  }

  article li + li {
    margin-block-start: var(--paragraph-spacing);
  }

  article li > * + * {
    margin-block-start: var(--paragraph-spacing);
  }

  article .heading {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  article .heading .date {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color-text-muted);
  }

  article .footnotes-list {
    list-style-position: inside;
    padding-inline-start: 0;
  }

  article .footnotes-list .footnote-item > *:first-of-type {
    display: inline;
  }

  footer {
    color: var(--color-text-muted);
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
  }

  table {
    display: block;
    border-collapse: collapse;
    inline-size: 100%;
    overflow-x: auto;
  }

  th,
  td {
    padding: 0.5rem;
    border: 0.1px solid var(--color-text);
  }

  th {
    text-align: start;
    font-weight: 400;
    background-color: var(--color-surface);
  }

  pre code.hljs {
    border-radius: 0.5rem;
    background-color: var(--color-surface);
  }

  @media screen and (max-width: 768px) {
    body {
      flex-direction: column;
      gap: 2rem;
      overflow-y: auto;
      scroll-behavior: smooth;
      scroll-padding-block-start: var(--padding-inline);
    }

    #nav {
      flex: 0 0 auto;
      overflow-y: unset;
      padding-block: var(--padding-inline);
      padding-inline: var(--padding-inline);
    }

    #nav-toggle + label {
      display: block;
    }

    #nav-toggle:checked + label {
      margin-block-end: 3rem;
    }

    #nav-toggle:not(:checked) + label + #nav-content {
      display: none;
    }

    main {
      overflow-y: unset;
      padding-block: var(--padding-inline);
      padding-inline: var(--padding-inline);
    }
  }
</style>

<link rel="stylesheet" href="/styles/animate.css">

<link
  rel="stylesheet"
  href="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/styles/github.min.css"
  media="(prefers-color-scheme: light)"
>
<link
  rel="stylesheet"
  href="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/styles/github-dark.min.css"
  media="(prefers-color-scheme: dark)"
>
{% endblock %}

{% block body %}
<nav id="nav">
  <input id="nav-toggle" type="checkbox">
  <label for="nav-toggle" class="animate">☰</label>

  <div id="nav-content">
    <div class="nav-link animate"><a href="/">home</a></div>
    <div class="nav-divider animate"></div>

    {% for post in collections.blog reversed %}
      <div class="nav-link animate">
        <a href="#{{ post.fileSlug }}"
          ><span class="date">{{ post.date | date: "%b %-d, %Y" }}</span
          >&nbsp;—&nbsp;<span class="title">{{ post.data.title }}</span></a
        >
        <p class="tags">
          {% for category in post.data.categories %}
            <span class="tag">{{ category }}</span>
          {% endfor %}
        </p>
      </div>
    {% endfor %}
  </div>
</nav>

<main class="animate" style="--i: 3">
  <div id="content">
    {% for post in collections.blog reversed %}
      <article id="{{ post.fileSlug }}">
        <div class="heading">
          <p class="date">{{ post.date | date: "%b %-d, %Y" }}</p>

          <h1>{{ post.data.title }}</h1>
        </div>

        {{ post.content }}
      </article>
    {% endfor %}
  </div>

  <footer>
    <p>
      &copy;&nbsp;{{ "now" | date: "%Y" }} moltinginstar. All rights reserved.
    </p>
  </footer>
</main>
{% endblock %}
